@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body,
:root {
    height: 100%;
    background-color: black;
    /* background-color: #1D1C1D; */
    color-scheme: dark;
}

::-webkit-scrollbar {
    display: none;
}
  
  ::-webkit-scrollbar-track {
    display: none;
  }
  
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  